

.container-slider {

    margin-top: 2rem;
    width: 37rem;
    height: 55rem;

    .box-slider {
      border-radius: 1rem;
      box-shadow: 0 0 15px 0 #888888;
      transition:  all .5s;
      position: relative;
      width: 37rem;
      height: 55rem;
      overflow: hidden;
    }
    .slides {
      display: flex;
      height: 100%;
      transition: all 1s;


    }

    .slide {

      img {
        width: 37rem;
        height: 55rem;
        object-fit: cover;
      }
    }

    .container-dot {
      display: flex;
      width: 100%;
      justify-content: space-between;
      position: absolute;
      top: .5rem;
      padding: 0 1rem;
      z-index: 99;

    .btn-dot {
        cursor: pointer;
        border-radius: 2rem;
        padding: .2rem;
        // margin: 0 .5rem;
        background: white;
        transition: all .3s;
      }
      .btn-dot + .btn-dot {
        margin-left: 0.5rem;
      }

      .btn-dot.background {
        background-color: black;
      }
    }

    .btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 1rem;
      background: white;
      cursor: pointer;
    }
    .btn:active {
      background: yellow;
    }
    .next {
      right: 0;
    }

}