* {
    margin: 0;
    padding: 0;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    list-style: none;
	list-style-type: none;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
  }

  html {
    font-size: 62.5% !important;
  }

  body,
  button,
  input,
  textarea {
    font-family: 'Open Sans', sans-serif;
  }

  body {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    touch-action: none;

  }

.d-flex {
    display: flex;
}

.d-flex-c {
  display: flex;
  align-items: center;
}
.bi::before {
  font-weight: 900 !important;
}

